muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3ea78a40-e68b-40e4-9f09-be3fd340f949" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="43510971-240e-44e1-8851-8d96eaab9cb1" >
		<http:listener doc:name="Listener" doc:id="5d9f5c23-f568-4f75-b8df-d662c79809c5" config-ref="HTTP_Listener_config" path="/muleapp"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="843843ad-e19b-4038-97ec-f7bde08055cc" />
	</flow>
</mule>
